@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// * Reset Boxing
html {
    body {
        &,
        & * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    }
}

// * Test
html {
    body {
        &,
        * { 
            // border: dashed 1px red;
        }
    }
}

// * Fonts
html {
    body {
        &,
        & * {
            font-family: 'Montserrat', sans-serif;
        }
    }
}

html {
    body {
        div.tooltip-inner * {
            font-family: "roboto", sans-serif;
        }
    }
}

@import "pages/login/login";
@import "pages/register/register";

html body {
    @import "partials/header";
    @import "partials/footer";
    @import "pages/home/home";
    @import "pages/add/add";

    // * All Sizes
    @media (min-width: 0px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        position: relative;

        main {
            padding-top: 100px !important;
        }

        .bg-wave {
            position: fixed;
            width: 100%;
            bottom: 0px;
            // height: 00px;
            z-index: 1;
            opacity: 0.7;
            opacity: 0;
            filter:blur(2px);
        }

        .bg-filter {
            position: fixed;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-30deg, rgba(71, 53, 233, 1), rgba(125, 34, 205, 1));
            z-index: 3;
            opacity: 0.7    ;
        }

        .bg-image {
            background-image: url("../images/image-youth-2.jpg");
            background-position: center;
            background-size: cover;
            z-index: 0;

            position: fixed;
            width: 100%;
            height: 100%;

            filter:blur(3px);
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {

    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1000px) {

    }

    // * Empty
    @media (min-width: 10000000px) {

    }
}