<nav class="navbar">
  <a class="navbar-brand" href="/">
    <!-- <img src="/svg/icon-home.svg" alt=""> -->
    <img src="/images/logo-barangay.png" alt="">
    <p>Brgy. 119, Zone 14 <span>Out of School Youth</span></p>
  </a>
  <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="navigation">
      <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="About Page">
        <a class="nav-link nav-link-about" href="/about">
          <button type="button" class="btn btn-light">
            <p>About</p>
            <!-- <img src="/svg/icon-delete.svg" alt=""> -->
            <!-- <p>+</p> -->
          </button>
        </a>
      </li>
      <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Contact Page">
        <a class="nav-link nav-link-contact" href="/about#contact">
          <button type="button" class="btn btn-light">
            <p>Contact</p>
            <!-- <img src="/svg/icon-delete.svg" alt=""> -->
            <!-- <p>+</p> -->
          </button>
        </a>
      </li>
    </div>
  <div class="menu" id="navbarSupportedContent">
    <form class="d-flex" role="search" method="POST" action="/search">
      <input class="form-control" type="text" name="search" placeholder="Search by name" aria-label="default input example">
      <button class="btn btn-light" type="submit"  data-bs-toggle="tooltip"  data-bs-title="Wowzer">
        <img src="/svg/icon-search.svg" alt="">
      </button>
    </form>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <!-- <li class="nav-item">
          <a class="nav-link active nav-link-home" aria-current="page" href="/">
            <p>Home</p>
          </a>
        </li> -->
      <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Deleted Entries">
        <a class="nav-link nav-link-delete" href="/deleted">
          <button type="button" class="btn btn-light">
            <img src="/svg/icon-delete.svg" alt="">
            <!-- <p>+</p> -->
          </button>
        </a>
      </li>
      <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Print Results">
        <a class="nav-link nav-link-print" onclick="window.print();return false;">
          <button type="button" class="btn btn-light">
            <img src="/svg/icon-print.svg" alt="">
            <!-- <p>+</p> -->
          </button>
        </a>
      </li>
      <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add New Entry">
        <a class="nav-link nav-link-add" href="/add">
          <button type="button" class="btn btn-light">
            <!-- <img src="/svg/icon-add.svg" alt=""> -->
            <p>+</p>
          </button>
        </a>
      </li>
      <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Log out">
        <a class="nav-link nav-link-add" href="/logout">
          <button type="button" class="btn btn-light">
            <!-- <img src="/svg/icon-add.svg" alt=""> -->
            <img src="/svg/icon-logout.svg" alt="">
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>